@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url("img/dot-outline.png") 2x, default;
  cursor: -webkit-image-set(url("img/dot-outline.png") 2x, url("img/dot-outline.png") 2x), auto; }

#container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #FFFFFF;
  top: 0; }
  #container::after {
    clear: both;
    content: "";
    display: block; }
  #container .background {
    background-color: #0025F4;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: -moz-transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 500ms cubic-bezier(0.77, 0, 0.175, 1); }
    #container .background.hide {
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
  #container.blue p {
    color: #FFFFFF; }
  #container.blue .wrapper .name .glitch {
    color: #FFFFFF; }
  #container p {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    line-height: 16px;
    color: #0025F4; }
  #container h2 {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    color: #0025F4;
    font-weight: 700; }
  #container .wrapper {
    height: 100%;
    width: 96vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
    #container .wrapper::-webkit-scrollbar {
      width: 0 !important; }
    #container .wrapper .name {
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 14.37822%;
      margin-left: 8.56218%;
      height: 50px;
      overflow: hidden;
      margin-top: 5vh;
      margin-bottom: 2vh;
      z-index: 500;
      opacity: 0;
      -webkit-transform: translate3d(0, -10vh, 0);
      -moz-transform: translate3d(0, -10vh, 0);
      -ms-transform: translate3d(0, -10vh, 0);
      -o-transform: translate3d(0, -10vh, 0);
      transform: translate3d(0, -10vh, 0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #container .wrapper .name:last-child {
        margin-right: 0; }
      #container .wrapper .name .glitch {
        height: 60px;
        font-size: 28px;
        font-family: "Inconsolata", monospace;
        line-height: 54px;
        margin-right: 0;
        margin: 0;
        color: #0025F4;
        position: absolute; }
      #container .wrapper .name.animate {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1; }
    #container .wrapper .information {
      position: relative;
      margin-left: 8.56218%;
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 91.43782%;
      z-index: 9999 !important;
      opacity: 0;
      -webkit-transform: translate3d(0, -10vh, 0);
      -moz-transform: translate3d(0, -10vh, 0);
      -ms-transform: translate3d(0, -10vh, 0);
      -o-transform: translate3d(0, -10vh, 0);
      transform: translate3d(0, -10vh, 0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #container .wrapper .information:last-child {
        margin-right: 0; }
      #container .wrapper .information.animate {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1; }
      #container .wrapper .information .blurb {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 14.37822%;
        overflow: hidden;
        text-align: left; }
        #container .wrapper .information .blurb:last-child {
          margin-right: 0; }
      #container .wrapper .information .hamburger {
        position: relative;
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 5.81604%;
        margin-left: 8.56218%;
        height: 34px;
        z-index: 9999 !important;
        margin-top: 18px;
        display: flex !important;
        display: -moz-box !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        -webkit-flex-flow: row wrap !important;
        flex-flow: row wrap !important;
        justify-content: space-around !important;
        cursor: url("img/dot-outline.png"), default;
        cursor: -webkit-image-set(url("img/dot.png") 2x, url("img/dot.png") 2x), auto; }
        #container .wrapper .information .hamburger:last-child {
          margin-right: 0; }
        #container .wrapper .information .hamburger .line {
          background-color: #0025F4;
          height: 4px;
          width: 100%;
          position: relative; }
          #container .wrapper .information .hamburger .line.blue {
            background-color: #FFFFFF; }
    #container .wrapper .section {
      position: absolute;
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 100%;
      top: 26vh;
      height: 66vh;
      overflow: hidden; }
      #container .wrapper .section:last-child {
        margin-right: 0; }
      #container .wrapper .section.about {
        z-index: 9999;
        display: none;
        margin-left: 8.56218%; }
        #container .wrapper .section.about.show {
          display: block;
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 91.43782%; }
          #container .wrapper .section.about.show:last-child {
            margin-right: 0; }
        #container .wrapper .section.about h2, #container .wrapper .section.about .biography, #container .wrapper .section.about .contact {
          -webkit-transform: translate3d(0, 10vh, 0);
          -moz-transform: translate3d(0, 10vh, 0);
          -ms-transform: translate3d(0, 10vh, 0);
          -o-transform: translate3d(0, 10vh, 0);
          transform: translate3d(0, 10vh, 0);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 0; }
          #container .wrapper .section.about h2.show, #container .wrapper .section.about .biography.show, #container .wrapper .section.about .contact.show {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
        #container .wrapper .section.about h2 {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 14.37822%;
          color: #FFFFFF; }
          #container .wrapper .section.about h2:last-child {
            margin-right: 0; }
        #container .wrapper .section.about .biography {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 48.62693%;
          margin-left: 17.12436%;
          z-index: 800; }
          #container .wrapper .section.about .biography:last-child {
            margin-right: 0; }
          #container .wrapper .section.about .biography p {
            float: left;
            display: block;
            margin-right: 5.64736%;
            width: 64.78421%;
            color: #FFFFFF; }
            #container .wrapper .section.about .biography p:last-child {
              margin-right: 0; }
        #container .wrapper .section.about .contact {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 31.50258%;
          margin-left: 34.24871%;
          margin-top: 5vh;
          margin-bottom: 4vh; }
          #container .wrapper .section.about .contact:last-child {
            margin-right: 0; }
          #container .wrapper .section.about .contact .social, #container .wrapper .section.about .contact .email {
            float: left;
            display: block;
            margin-right: 8.71718%;
            width: 45.64141%;
            height: auto; }
            #container .wrapper .section.about .contact .social:last-child, #container .wrapper .section.about .contact .email:last-child {
              margin-right: 0; }
            #container .wrapper .section.about .contact .social .heading, #container .wrapper .section.about .contact .email .heading {
              font-weight: 700; }
            #container .wrapper .section.about .contact .social .media, #container .wrapper .section.about .contact .email .media {
              color: #FFFFFF;
              position: relative;
              display: inline-block;
              font-size: 14px;
              height: 24px;
              text-decoration: underline;
              width: 100%;
              cursor: url("img/dot.png"), default;
              cursor: -webkit-image-set(url("img/dot.png") 2x, url("img/dot.png") 2x), auto; }
        #container .wrapper .section.about .image {
          position: absolute;
          height: 100%;
          float: left;
          display: block;
          margin-right: 3.31356%;
          width: 27.68051%;
          margin-left: 41.32542%;
          background-size: cover;
          background-position: 50%, 50%;
          background-repeat: no-repeat;
          opacity: 1;
          top: 0;
          background-image: url("img/me.jpg");
          background-image: url("img/me.jpg"); }
          #container .wrapper .section.about .image:last-child {
            margin-right: 0; }
        #container .wrapper .section.about.show {
          display: block; }
      #container .wrapper .section.projects {
        display: none;
        z-index: 700; }
        #container .wrapper .section.projects.show {
          display: block; }
        #container .wrapper .section.projects .text, #container .wrapper .section.projects .menu {
          -webkit-transform: translate3d(0, -10vh, 0);
          -moz-transform: translate3d(0, -10vh, 0);
          -ms-transform: translate3d(0, -10vh, 0);
          -o-transform: translate3d(0, -10vh, 0);
          transform: translate3d(0, -10vh, 0);
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease;
          opacity: 0; }
          #container .wrapper .section.projects .text.show, #container .wrapper .section.projects .menu.show {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1; }
        #container .wrapper .section.projects .text {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 14.37822%;
          margin-top: 12vh;
          z-index: 900;
          margin-left: 8.56218%; }
          #container .wrapper .section.projects .text:last-child {
            margin-right: 0; }
          #container .wrapper .section.projects .text h2 {
            font-size: 16px;
            margin-top: 0; }
        #container .wrapper .section.projects .menu {
          height: 100%;
          position: absolute;
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 91.43782%;
          margin-left: 8.56218%;
          top: 0; }
          #container .wrapper .section.projects .menu:last-child {
            margin-right: 0; }
          #container .wrapper .section.projects .menu .project {
            height: 40px;
            width: 100%;
            overflow: hidden;
            z-index: 100; }
            #container .wrapper .section.projects .menu .project .menu-item {
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 14.37822%;
              position: relative;
              z-index: 800 !important;
              font-size: 14px;
              height: 32px;
              font-weight: 700;
              color: #0025F4;
              text-decoration: none;
              margin-top: 0;
              display: block;
              cursor: url("img/dot.png"), default;
              cursor: -webkit-image-set(url("img/dot.png") 2x, url("img/dot.png") 2x), auto; }
              #container .wrapper .section.projects .menu .project .menu-item:last-child {
                margin-right: 0; }
              #container .wrapper .section.projects .menu .project .menu-item:hover {
                text-decoration: underline;
                color: #fc4245; }
              #container .wrapper .section.projects .menu .project .menu-item.date {
                margin-left: 17.12436%;
                opacity: 0; }
              #container .wrapper .section.projects .menu .project .menu-item.role {
                opacity: 0; }
              #container .wrapper .section.projects .menu .project .menu-item.name {
                margin-left: 25.68653%; }
            #container .wrapper .section.projects .menu .project.one .image, #container .wrapper .section.projects .menu .project.two .image, #container .wrapper .section.projects .menu .project.three .image, #container .wrapper .section.projects .menu .project.four .image, #container .wrapper .section.projects .menu .project.five .image, #container .wrapper .section.projects .menu .project.six .image {
              position: absolute;
              height: 100%;
              margin-left: 8.56218%;
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 65.75129%;
              background-size: cover;
              background-position: 50%, 50%;
              background-repeat: no-repeat;
              opacity: 0;
              top: 0;
              z-index: 100;
              -webkit-transition: all 0.2s ease-in;
              -moz-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in; }
              #container .wrapper .section.projects .menu .project.one .image:last-child, #container .wrapper .section.projects .menu .project.two .image:last-child, #container .wrapper .section.projects .menu .project.three .image:last-child, #container .wrapper .section.projects .menu .project.four .image:last-child, #container .wrapper .section.projects .menu .project.five .image:last-child, #container .wrapper .section.projects .menu .project.six .image:last-child {
                margin-right: 0; }
            #container .wrapper .section.projects .menu .project.one {
              margin-top: 12vh; }
              #container .wrapper .section.projects .menu .project.one .image {
                background-image: url("bm/img/dan-murphys.png");
                background-image: url("bm/img/dan-murphys.png"); }
            #container .wrapper .section.projects .menu .project.two .image {
              background-image: url("paper/img/second-thumbnail.png");
              background-image: url("paper/img/second-thumbnail.png"); }
            #container .wrapper .section.projects .menu .project.three .image {
              background-image: url("layer/img/layer-5.jpg");
              background-image: url("layer/img/layer-5.jpg"); }
            #container .wrapper .section.projects .menu .project.four .image {
              background-image: url("days/green.png");
              background-image: url("days/green.png"); }
            #container .wrapper .section.projects .menu .project.five .image {
              background-image: url("haunt/img/maori-history-main.png");
              background-image: url("haunt/img/maori-history-main.png"); }
            #container .wrapper .section.projects .menu .project.six .image {
              background-image: url("together/img/bottom.png");
              background-image: url("together/img/bottom.png"); }
            #container .wrapper .section.projects .menu .project.show .image {
              opacity: 1; }
            #container .wrapper .section.projects .menu .project.show .date {
              opacity: 1; }
            #container .wrapper .section.projects .menu .project.show .role {
              opacity: 1; }
            #container .wrapper .section.projects .menu .project.show .menu-item:after {
              opacity: 1; }
      #container .wrapper .section.full {
        display: none;
        z-index: 600; }
        #container .wrapper .section.full.show {
          display: block; }
        #container .wrapper .section.full .menu {
          position: relative;
          width: inherit;
          height: 50px;
          margin-top: 12vh;
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 91.43782%;
          margin-left: 8.56218%;
          z-index: 9999 !important;
          -webkit-transform: translate3d(0, -10vh, 0);
          -moz-transform: translate3d(0, -10vh, 0);
          -ms-transform: translate3d(0, -10vh, 0);
          -o-transform: translate3d(0, -10vh, 0);
          transform: translate3d(0, -10vh, 0);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 0; }
          #container .wrapper .section.full .menu:last-child {
            margin-right: 0; }
          #container .wrapper .section.full .menu.animate {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 1; }
          #container .wrapper .section.full .menu .menu-item {
            position: relative;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 14.37822%;
            margin-left: 77.0596%; }
            #container .wrapper .section.full .menu .menu-item:last-child {
              margin-right: 0; }
            #container .wrapper .section.full .menu .menu-item p {
              color: #0025F4;
              font-size: 14px;
              font-weight: 700;
              display: inline;
              padding-right: 1vw;
              cursor: url("img/dot.png"), pointer;
              cursor: -webkit-image-set(url("img/dot.png") 2x, url("img/dot.png") 2x), pointer; }
              #container .wrapper .section.full .menu .menu-item p:hover {
                text-decoration: underline; }
            #container .wrapper .section.full .menu .menu-item.details, #container .wrapper .section.full .menu .menu-item.back {
              margin-bottom: 4vh; }
              #container .wrapper .section.full .menu .menu-item.details:after, #container .wrapper .section.full .menu .menu-item.back:after {
                content: "☺";
                vertical-align: baseline;
                font-size: 20px;
                color: #0025F4;
                display: inline-block;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transform-origin: center;
                -moz-transform-origin: center;
                -ms-transform-origin: center;
                -o-transform-origin: center;
                transform-origin: center;
                height: 100%; }
              #container .wrapper .section.full .menu .menu-item.details.play:after, #container .wrapper .section.full .menu .menu-item.back.play:after {
                content: "☺";
                -webkit-transform: rotateZ(180deg);
                -moz-transform: rotateZ(180deg);
                -ms-transform: rotateZ(180deg);
                -o-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
                display: inline-block; }
            #container .wrapper .section.full .menu .menu-item.next:after {
              content: "⟶";
              vertical-align: top;
              color: #0025F4;
              padding-bottom: 4vh; }
            #container .wrapper .section.full .menu .menu-item.prev:after {
              content: "⟶";
              vertical-align: top;
              color: #0025F4; }
            #container .wrapper .section.full .menu .menu-item.back {
              display: none; }
        #container .wrapper .section.full .single {
          height: 100%;
          position: absolute;
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 91.43782%;
          margin-left: 8.56218%; }
          #container .wrapper .section.full .single:last-child {
            margin-right: 0; }
          #container .wrapper .section.full .single.one, #container .wrapper .section.full .single.two, #container .wrapper .section.full .single.three, #container .wrapper .section.full .single.four, #container .wrapper .section.full .single.five, #container .wrapper .section.full .single.six {
            display: none; }
            #container .wrapper .section.full .single.one.show, #container .wrapper .section.full .single.two.show, #container .wrapper .section.full .single.three.show, #container .wrapper .section.full .single.four.show, #container .wrapper .section.full .single.five.show, #container .wrapper .section.full .single.six.show {
              display: block; }
            #container .wrapper .section.full .single.one .text, #container .wrapper .section.full .single.two .text, #container .wrapper .section.full .single.three .text, #container .wrapper .section.full .single.four .text, #container .wrapper .section.full .single.five .text, #container .wrapper .section.full .single.six .text {
              position: relative;
              z-index: 600 !important;
              top: 4vh;
              opacity: 0;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              transition: all 0.5s ease;
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 91.43782%;
              margin-left: 8.56218%; }
              #container .wrapper .section.full .single.one .text:last-child, #container .wrapper .section.full .single.two .text:last-child, #container .wrapper .section.full .single.three .text:last-child, #container .wrapper .section.full .single.four .text:last-child, #container .wrapper .section.full .single.five .text:last-child, #container .wrapper .section.full .single.six .text:last-child {
                margin-right: 0; }
              #container .wrapper .section.full .single.one .text.animate, #container .wrapper .section.full .single.two .text.animate, #container .wrapper .section.full .single.three .text.animate, #container .wrapper .section.full .single.four .text.animate, #container .wrapper .section.full .single.five .text.animate, #container .wrapper .section.full .single.six .text.animate {
                opacity: 1; }
              #container .wrapper .section.full .single.one .text h2, #container .wrapper .section.full .single.two .text h2, #container .wrapper .section.full .single.three .text h2, #container .wrapper .section.full .single.four .text h2, #container .wrapper .section.full .single.five .text h2, #container .wrapper .section.full .single.six .text h2 {
                float: left;
                display: block;
                margin-right: 3.00328%;
                width: 62.54426%;
                margin-left: 9.36393%;
                width: 100%;
                font-family: "Inconsolata", monospace;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 40px;
                margin-bottom: 0; }
                #container .wrapper .section.full .single.one .text h2:last-child, #container .wrapper .section.full .single.two .text h2:last-child, #container .wrapper .section.full .single.three .text h2:last-child, #container .wrapper .section.full .single.four .text h2:last-child, #container .wrapper .section.full .single.five .text h2:last-child, #container .wrapper .section.full .single.six .text h2:last-child {
                  margin-right: 0; }
              #container .wrapper .section.full .single.one .text .menu-item, #container .wrapper .section.full .single.two .text .menu-item, #container .wrapper .section.full .single.three .text .menu-item, #container .wrapper .section.full .single.four .text .menu-item, #container .wrapper .section.full .single.five .text .menu-item, #container .wrapper .section.full .single.six .text .menu-item {
                float: left;
                display: block;
                margin-right: 3.00328%;
                width: 15.72459%;
                margin-left: 9.36393%;
                color: #FFFFFF;
                font-size: 14px;
                position: relative; }
                #container .wrapper .section.full .single.one .text .menu-item:last-child, #container .wrapper .section.full .single.two .text .menu-item:last-child, #container .wrapper .section.full .single.three .text .menu-item:last-child, #container .wrapper .section.full .single.four .text .menu-item:last-child, #container .wrapper .section.full .single.five .text .menu-item:last-child, #container .wrapper .section.full .single.six .text .menu-item:last-child {
                  margin-right: 0; }
                #container .wrapper .section.full .single.one .text .menu-item.role, #container .wrapper .section.full .single.two .text .menu-item.role, #container .wrapper .section.full .single.three .text .menu-item.role, #container .wrapper .section.full .single.four .text .menu-item.role, #container .wrapper .section.full .single.five .text .menu-item.role, #container .wrapper .section.full .single.six .text .menu-item.role {
                  float: left;
                  display: block;
                  margin-right: 3.00328%;
                  width: 34.45246%;
                  margin-left: 0%; }
                  #container .wrapper .section.full .single.one .text .menu-item.role:last-child, #container .wrapper .section.full .single.two .text .menu-item.role:last-child, #container .wrapper .section.full .single.three .text .menu-item.role:last-child, #container .wrapper .section.full .single.four .text .menu-item.role:last-child, #container .wrapper .section.full .single.five .text .menu-item.role:last-child, #container .wrapper .section.full .single.six .text .menu-item.role:last-child {
                    margin-right: 0; }
              #container .wrapper .section.full .single.one .text .description, #container .wrapper .section.full .single.two .text .description, #container .wrapper .section.full .single.three .text .description, #container .wrapper .section.full .single.four .text .description, #container .wrapper .section.full .single.five .text .description, #container .wrapper .section.full .single.six .text .description {
                color: #FFFFFF;
                position: relative;
                top: 3vh;
                font-size: 14px;
                opacity: 1;
                position: relative;
                float: left;
                display: block;
                margin-right: 3.00328%;
                width: 34.45246%;
                margin-left: 9.36393%; }
                #container .wrapper .section.full .single.one .text .description:last-child, #container .wrapper .section.full .single.two .text .description:last-child, #container .wrapper .section.full .single.three .text .description:last-child, #container .wrapper .section.full .single.four .text .description:last-child, #container .wrapper .section.full .single.five .text .description:last-child, #container .wrapper .section.full .single.six .text .description:last-child {
                  margin-right: 0; }
            #container .wrapper .section.full .single.one .slider, #container .wrapper .section.full .single.two .slider, #container .wrapper .section.full .single.three .slider, #container .wrapper .section.full .single.four .slider, #container .wrapper .section.full .single.five .slider, #container .wrapper .section.full .single.six .slider {
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 65.75129%;
              margin-left: 8.56218%;
              height: 96%;
              position: absolute;
              opacity: 1;
              overflow: hidden; }
              #container .wrapper .section.full .single.one .slider:last-child, #container .wrapper .section.full .single.two .slider:last-child, #container .wrapper .section.full .single.three .slider:last-child, #container .wrapper .section.full .single.four .slider:last-child, #container .wrapper .section.full .single.five .slider:last-child, #container .wrapper .section.full .single.six .slider:last-child {
                margin-right: 0; }
              #container .wrapper .section.full .single.one .slider .next-image, #container .wrapper .section.full .single.two .slider .next-image, #container .wrapper .section.full .single.three .slider .next-image, #container .wrapper .section.full .single.four .slider .next-image, #container .wrapper .section.full .single.five .slider .next-image, #container .wrapper .section.full .single.six .slider .next-image {
                height: 100%;
                width: 100%;
                float: right;
                z-index: 600;
                position: absolute; }
              #container .wrapper .section.full .single.one .slider .slide, #container .wrapper .section.full .single.two .slider .slide, #container .wrapper .section.full .single.three .slider .slide, #container .wrapper .section.full .single.four .slider .slide, #container .wrapper .section.full .single.five .slider .slide, #container .wrapper .section.full .single.six .slider .slide {
                height: 100%;
                width: 101%;
                position: absolute;
                background-color: #0025F4;
                z-index: 400;
                opacity: 0.95;
                -webkit-transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
                -moz-transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
                transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1); }
                #container .wrapper .section.full .single.one .slider .slide.hide, #container .wrapper .section.full .single.two .slider .slide.hide, #container .wrapper .section.full .single.three .slider .slide.hide, #container .wrapper .section.full .single.four .slider .slide.hide, #container .wrapper .section.full .single.five .slider .slide.hide, #container .wrapper .section.full .single.six .slider .slide.hide {
                  width: 0; }
            #container .wrapper .section.full .single.one .image, #container .wrapper .section.full .single.two .image, #container .wrapper .section.full .single.three .image, #container .wrapper .section.full .single.four .image, #container .wrapper .section.full .single.five .image, #container .wrapper .section.full .single.six .image {
              position: absolute;
              height: 100%;
              background-size: cover;
              background-position: 50%, 50%;
              background-repeat: no-repeat;
              width: 100%;
              -webkit-transition: all 500ms cubic-bezier(0.8, 0, 0.4, 1);
              -moz-transition: all 500ms cubic-bezier(0.8, 0, 0.4, 1);
              transition: all 500ms cubic-bezier(0.8, 0, 0.4, 1);
              opacity: 0; }
              #container .wrapper .section.full .single.one .image.show, #container .wrapper .section.full .single.two .image.show, #container .wrapper .section.full .single.three .image.show, #container .wrapper .section.full .single.four .image.show, #container .wrapper .section.full .single.five .image.show, #container .wrapper .section.full .single.six .image.show {
                opacity: 1; }

@media(min-width: 740px) and (max-width: 1200px) {
  #container .wrapper {
    width: 94vw; }
    #container .wrapper .name {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 31.50258%; }
      #container .wrapper .name:last-child {
        margin-right: 0; }
    #container .wrapper .information {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 100%; }
      #container .wrapper .information:last-child {
        margin-right: 0; }
      #container .wrapper .information .blurb {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 22.9404%; }
        #container .wrapper .information .blurb:last-child {
          margin-right: 0; }
        #container .wrapper .information .blurb.listening-to {
          margin-right: 0; }
      #container .wrapper .information .hamburger {
        position: absolute;
        margin-left: 0%;
        margin-top: 24vh; }
    #container .wrapper .section {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 100%; }
      #container .wrapper .section:last-child {
        margin-right: 0; }
      #container .wrapper .section.about.show {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 100%;
        margin-left: 8.56218%; }
        #container .wrapper .section.about.show:last-child {
          margin-right: 0; }
      #container .wrapper .section.about .biography {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 40.06475%;
        margin-left: 17.12436%;
        margin-top: 10vh; }
        #container .wrapper .section.about .biography:last-child {
          margin-right: 0; }
        #container .wrapper .section.about .biography p {
          width: 100%; }
      #container .wrapper .section.about .contact {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 22.9404%;
        margin-left: 8.56218%;
        margin-top: 10vh; }
        #container .wrapper .section.about .contact:last-child {
          margin-right: 0; }
        #container .wrapper .section.about .contact .social, #container .wrapper .section.about .contact .email {
          float: left;
          display: block;
          margin-right: 11.97074%;
          width: 100%; }
          #container .wrapper .section.about .contact .social:last-child, #container .wrapper .section.about .contact .email:last-child {
            margin-right: 0; }
        #container .wrapper .section.about .contact .social .media {
          width: 50%;
          float: left; }
      #container .wrapper .section.projects .text {
        display: none; }
      #container .wrapper .section.projects .menu {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 100%; }
        #container .wrapper .section.projects .menu:last-child {
          margin-right: 0; }
        #container .wrapper .section.projects .menu .project .menu-item {
          height: 40px; }
        #container .wrapper .section.projects .menu .project.one .image, #container .wrapper .section.projects .menu .project.two .image, #container .wrapper .section.projects .menu .project.three .image, #container .wrapper .section.projects .menu .project.four .image, #container .wrapper .section.projects .menu .project.five .image, #container .wrapper .section.projects .menu .project.six .image {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 91.43782%;
          margin-left: 8.56218%; }
          #container .wrapper .section.projects .menu .project.one .image:last-child, #container .wrapper .section.projects .menu .project.two .image:last-child, #container .wrapper .section.projects .menu .project.three .image:last-child, #container .wrapper .section.projects .menu .project.four .image:last-child, #container .wrapper .section.projects .menu .project.five .image:last-child, #container .wrapper .section.projects .menu .project.six .image:last-child {
            margin-right: 0; }
      #container .wrapper .section.full {
        overflow: visible; }
        #container .wrapper .section.full .menu {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 22.9404%;
          margin-left: 0%;
          top: 20vh;
          margin-top: 0; }
          #container .wrapper .section.full .menu:last-child {
            margin-right: 0; }
          #container .wrapper .section.full .menu .menu-item {
            float: left;
            display: block;
            margin-right: 11.97074%;
            width: 100%;
            margin-left: 0%; }
            #container .wrapper .section.full .menu .menu-item:last-child {
              margin-right: 0; }
            #container .wrapper .section.full .menu .menu-item.details {
              float: left;
              display: block;
              margin-right: 11.97074%;
              width: 100%; }
              #container .wrapper .section.full .menu .menu-item.details:last-child {
                margin-right: 0; }
            #container .wrapper .section.full .menu .menu-item.next, #container .wrapper .section.full .menu .menu-item.prev {
              height: 30px; }
        #container .wrapper .section.full .single {
          float: left;
          display: block;
          margin-right: 2.74614%;
          width: 100%;
          margin-left: 0%; }
          #container .wrapper .section.full .single:last-child {
            margin-right: 0; }
          #container .wrapper .section.full .single.one .text, #container .wrapper .section.full .single.two .text, #container .wrapper .section.full .single.three .text, #container .wrapper .section.full .single.four .text, #container .wrapper .section.full .single.five .text, #container .wrapper .section.full .single.six .text {
            margin-left: 17.12436%; }
            #container .wrapper .section.full .single.one .text .menu-item, #container .wrapper .section.full .single.two .text .menu-item, #container .wrapper .section.full .single.three .text .menu-item, #container .wrapper .section.full .single.four .text .menu-item, #container .wrapper .section.full .single.five .text .menu-item, #container .wrapper .section.full .single.six .text .menu-item {
              float: left;
              display: block;
              margin-right: 3.00328%;
              width: 25.08852%; }
              #container .wrapper .section.full .single.one .text .menu-item:last-child, #container .wrapper .section.full .single.two .text .menu-item:last-child, #container .wrapper .section.full .single.three .text .menu-item:last-child, #container .wrapper .section.full .single.four .text .menu-item:last-child, #container .wrapper .section.full .single.five .text .menu-item:last-child, #container .wrapper .section.full .single.six .text .menu-item:last-child {
                margin-right: 0; }
            #container .wrapper .section.full .single.one .text .description, #container .wrapper .section.full .single.two .text .description, #container .wrapper .section.full .single.three .text .description, #container .wrapper .section.full .single.four .text .description, #container .wrapper .section.full .single.five .text .description, #container .wrapper .section.full .single.six .text .description {
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 48.62693%; }
              #container .wrapper .section.full .single.one .text .description:last-child, #container .wrapper .section.full .single.two .text .description:last-child, #container .wrapper .section.full .single.three .text .description:last-child, #container .wrapper .section.full .single.four .text .description:last-child, #container .wrapper .section.full .single.five .text .description:last-child, #container .wrapper .section.full .single.six .text .description:last-child {
                margin-right: 0; }
          #container .wrapper .section.full .single.one .slider, #container .wrapper .section.full .single.two .slider, #container .wrapper .section.full .single.three .slider, #container .wrapper .section.full .single.four .slider, #container .wrapper .section.full .single.five .slider, #container .wrapper .section.full .single.six .slider {
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 91.43782%;
            margin-left: 8.56218%; }
            #container .wrapper .section.full .single.one .slider:last-child, #container .wrapper .section.full .single.two .slider:last-child, #container .wrapper .section.full .single.three .slider:last-child, #container .wrapper .section.full .single.four .slider:last-child, #container .wrapper .section.full .single.five .slider:last-child, #container .wrapper .section.full .single.six .slider:last-child {
              margin-right: 0; } }
@media(min-width: 320px) and (max-width: 740px) {
  #container {
    overflow: hidden; }
    #container .wrapper {
      width: 90vw;
      height: 100%;
      overflow: scroll;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      #container .wrapper .name {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 48.62693%;
        margin-left: 0%;
        height: 100px; }
        #container .wrapper .name:last-child {
          margin-right: 0; }
        #container .wrapper .name .glitch {
          font-size: 40px; }
        #container .wrapper .name.hide {
          display: none; }
      #container .wrapper .information {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 48.62693%;
        margin-left: 0%;
        float: right;
        margin-right: 0;
        margin-top: 5vh;
        margin-bottom: 4vh; }
        #container .wrapper .information:last-child {
          margin-right: 0; }
        #container .wrapper .information.hide {
          display: none; }
        #container .wrapper .information .blurb {
          float: left;
          display: block;
          margin-right: 5.64736%;
          width: 100%; }
          #container .wrapper .information .blurb:last-child {
            margin-right: 0; }
        #container .wrapper .information .hamburger {
          position: absolute;
          width: 39%;
          margin-left: 0%;
          left: -50vw;
          margin-top: 17vh; }
      #container .wrapper .section {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 100%;
        top: 0;
        height: auto;
        position: relative; }
        #container .wrapper .section:last-child {
          margin-right: 0; }
        #container .wrapper .section.about {
          margin-left: 0%; }
          #container .wrapper .section.about .biography {
            margin-left: 0%;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 100%; }
            #container .wrapper .section.about .biography:last-child {
              margin-right: 0; }
            #container .wrapper .section.about .biography p {
              width: 96%; }
          #container .wrapper .section.about .contact {
            margin-left: 0%;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 100%; }
            #container .wrapper .section.about .contact:last-child {
              margin-right: 0; }
            #container .wrapper .section.about .contact .social, #container .wrapper .section.about .contact .email {
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 48.62693%; }
              #container .wrapper .section.about .contact .social:last-child, #container .wrapper .section.about .contact .email:last-child {
                margin-right: 0; }
          #container .wrapper .section.about.show {
            width: 100%;
            display: block; }
        #container .wrapper .section.projects {
          height: auto;
          width: 100%;
          display: none; }
          #container .wrapper .section.projects .menu {
            height: 100%;
            position: relative;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 100%;
            margin-left: 0%;
            top: 0; }
            #container .wrapper .section.projects .menu:last-child {
              margin-right: 0; }
            #container .wrapper .section.projects .menu .project {
              height: 400px;
              position: relative;
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 100%;
              margin-top: 2vh;
              margin-bottom: 2vh; }
              #container .wrapper .section.projects .menu .project:last-child {
                margin-right: 0; }
              #container .wrapper .section.projects .menu .project .menu-item {
                position: relative;
                float: left;
                display: block;
                margin-right: 2.74614%;
                width: 48.62693%;
                height: 18px;
                float: left;
                pointer-events: none; }
                #container .wrapper .section.projects .menu .project .menu-item:last-child {
                  margin-right: 0; }
                #container .wrapper .section.projects .menu .project .menu-item.date {
                  margin-left: 0%;
                  opacity: 1; }
                #container .wrapper .section.projects .menu .project .menu-item.role {
                  opacity: 1; }
                #container .wrapper .section.projects .menu .project .menu-item.name {
                  margin-left: 0%; }
              #container .wrapper .section.projects .menu .project.one.one, #container .wrapper .section.projects .menu .project.two.one, #container .wrapper .section.projects .menu .project.three.one, #container .wrapper .section.projects .menu .project.four.one, #container .wrapper .section.projects .menu .project.five.one, #container .wrapper .section.projects .menu .project.six.one {
                margin-top: 6vh; }
              #container .wrapper .section.projects .menu .project.one .image, #container .wrapper .section.projects .menu .project.two .image, #container .wrapper .section.projects .menu .project.three .image, #container .wrapper .section.projects .menu .project.four .image, #container .wrapper .section.projects .menu .project.five .image, #container .wrapper .section.projects .menu .project.six .image {
                position: relative;
                height: 80%;
                margin-left: 0%;
                float: left;
                display: block;
                margin-right: 2.74614%;
                width: 100%;
                background-size: cover;
                background-position: 50%, 50%;
                background-repeat: no-repeat;
                opacity: 1;
                bottom: 0;
                z-index: 100;
                -webkit-transition: all 0.2s ease-in;
                -moz-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in; }
                #container .wrapper .section.projects .menu .project.one .image:last-child, #container .wrapper .section.projects .menu .project.two .image:last-child, #container .wrapper .section.projects .menu .project.three .image:last-child, #container .wrapper .section.projects .menu .project.four .image:last-child, #container .wrapper .section.projects .menu .project.five .image:last-child, #container .wrapper .section.projects .menu .project.six .image:last-child {
                  margin-right: 0; }
              #container .wrapper .section.projects .menu .project.show .image {
                opacity: 1; }
              #container .wrapper .section.projects .menu .project.show .date {
                opacity: 1; }
              #container .wrapper .section.projects .menu .project.show .role {
                opacity: 1; }
              #container .wrapper .section.projects .menu .project.show .menu-item:after {
                opacity: 1; }
        #container .wrapper .section.full {
          display: none; }
          #container .wrapper .section.full.show {
            display: block;
            top: 0;
            height: 100%;
            overflow: visible; }
          #container .wrapper .section.full .menu {
            position: realtive;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 100%;
            margin-left: 0%;
            margin-top: 5vh; }
            #container .wrapper .section.full .menu:last-child {
              margin-right: 0; }
            #container .wrapper .section.full .menu .menu-item {
              margin-left: 0%;
              float: left;
              display: block;
              margin-right: 2.74614%;
              width: 22.9404%; }
              #container .wrapper .section.full .menu .menu-item:last-child {
                margin-right: 0; }
              #container .wrapper .section.full .menu .menu-item.details, #container .wrapper .section.full .menu .menu-item.prev {
                display: none; }
              #container .wrapper .section.full .menu .menu-item.next {
                margin-left: 17.12436%; }
              #container .wrapper .section.full .menu .menu-item.back {
                display: block;
                margin-bottom: 0;
                float: left;
                display: block;
                margin-right: 2.74614%;
                width: 48.62693%; }
                #container .wrapper .section.full .menu .menu-item.back:last-child {
                  margin-right: 0; }
          #container .wrapper .section.full .single {
            position: relative;
            float: left;
            display: block;
            margin-right: 2.74614%;
            width: 100%;
            margin-left: 0%;
            height: auto;
            overflow: scroll; }
            #container .wrapper .section.full .single:last-child {
              margin-right: 0; }
            #container .wrapper .section.full .single.one, #container .wrapper .section.full .single.two, #container .wrapper .section.full .single.three, #container .wrapper .section.full .single.four, #container .wrapper .section.full .single.five, #container .wrapper .section.full .single.six {
              display: none; }
              #container .wrapper .section.full .single.one .text, #container .wrapper .section.full .single.two .text, #container .wrapper .section.full .single.three .text, #container .wrapper .section.full .single.four .text, #container .wrapper .section.full .single.five .text, #container .wrapper .section.full .single.six .text {
                position: relative;
                top: 0vh;
                margin-top: 0;
                display: block;
                float: left;
                display: block;
                margin-right: 2.74614%;
                width: 100%;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                margin-left: 0%;
                margin-bottom: 5vh;
                margin: 0; }
                #container .wrapper .section.full .single.one .text:last-child, #container .wrapper .section.full .single.two .text:last-child, #container .wrapper .section.full .single.three .text:last-child, #container .wrapper .section.full .single.four .text:last-child, #container .wrapper .section.full .single.five .text:last-child, #container .wrapper .section.full .single.six .text:last-child {
                  margin-right: 0; }
                #container .wrapper .section.full .single.one .text h2, #container .wrapper .section.full .single.two .text h2, #container .wrapper .section.full .single.three .text h2, #container .wrapper .section.full .single.four .text h2, #container .wrapper .section.full .single.five .text h2, #container .wrapper .section.full .single.six .text h2 {
                  width: 100%;
                  color: #0025F4;
                  margin-left: 0%; }
                #container .wrapper .section.full .single.one .text .menu-item, #container .wrapper .section.full .single.two .text .menu-item, #container .wrapper .section.full .single.three .text .menu-item, #container .wrapper .section.full .single.four .text .menu-item, #container .wrapper .section.full .single.five .text .menu-item, #container .wrapper .section.full .single.six .text .menu-item {
                  margin-left: 0%;
                  color: #0025F4;
                  float: left;
                  display: block;
                  margin-right: 2.74614%;
                  width: 100%; }
                  #container .wrapper .section.full .single.one .text .menu-item:last-child, #container .wrapper .section.full .single.two .text .menu-item:last-child, #container .wrapper .section.full .single.three .text .menu-item:last-child, #container .wrapper .section.full .single.four .text .menu-item:last-child, #container .wrapper .section.full .single.five .text .menu-item:last-child, #container .wrapper .section.full .single.six .text .menu-item:last-child {
                    margin-right: 0; }
                #container .wrapper .section.full .single.one .text .description, #container .wrapper .section.full .single.two .text .description, #container .wrapper .section.full .single.three .text .description, #container .wrapper .section.full .single.four .text .description, #container .wrapper .section.full .single.five .text .description, #container .wrapper .section.full .single.six .text .description {
                  float: left;
                  display: block;
                  margin-right: 2.74614%;
                  width: 100%;
                  margin-left: 0%;
                  color: #0025F4; }
                  #container .wrapper .section.full .single.one .text .description:last-child, #container .wrapper .section.full .single.two .text .description:last-child, #container .wrapper .section.full .single.three .text .description:last-child, #container .wrapper .section.full .single.four .text .description:last-child, #container .wrapper .section.full .single.five .text .description:last-child, #container .wrapper .section.full .single.six .text .description:last-child {
                    margin-right: 0; }
              #container .wrapper .section.full .single.one .slider, #container .wrapper .section.full .single.two .slider, #container .wrapper .section.full .single.three .slider, #container .wrapper .section.full .single.four .slider, #container .wrapper .section.full .single.five .slider, #container .wrapper .section.full .single.six .slider {
                float: left;
                display: block;
                margin-right: 2.74614%;
                width: 100%;
                margin-left: 0%;
                opacity: 1;
                position: relative;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease; }
                #container .wrapper .section.full .single.one .slider:last-child, #container .wrapper .section.full .single.two .slider:last-child, #container .wrapper .section.full .single.three .slider:last-child, #container .wrapper .section.full .single.four .slider:last-child, #container .wrapper .section.full .single.five .slider:last-child, #container .wrapper .section.full .single.six .slider:last-child {
                  margin-right: 0; }
                #container .wrapper .section.full .single.one .slider .image, #container .wrapper .section.full .single.two .slider .image, #container .wrapper .section.full .single.three .slider .image, #container .wrapper .section.full .single.four .slider .image, #container .wrapper .section.full .single.five .slider .image, #container .wrapper .section.full .single.six .slider .image {
                  position: relative;
                  height: 300px;
                  opacity: 0;
                  margin-left: 0%;
                  margin-top: 5vh;
                  margin-bottom: 5vh;
                  -webkit-transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
                  -moz-transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
                  transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1); }
                  #container .wrapper .section.full .single.one .slider .image.show, #container .wrapper .section.full .single.two .slider .image.show, #container .wrapper .section.full .single.three .slider .image.show, #container .wrapper .section.full .single.four .slider .image.show, #container .wrapper .section.full .single.five .slider .image.show, #container .wrapper .section.full .single.six .slider .image.show {
                    opacity: 1; } }
@media(min-width: 480px) and (max-width: 800px) and (orientation: landscape);

/*# sourceMappingURL=style.css.map */
